.msg {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.advancedsearch {
	margin-left:20%;
	margin-top:-50px;
}

.advancedsearch > a{
	color: #2196f3;
}


.bluenav {
    background-color: #2196f3;
    border-radius: 25px;
}

nav {
    background-color: white;
    box-shadow: none;    
}

.nav-wrapper {
    background-color: #2196f3;
}

.brand-logo{
    margin-left: 40px;
}

.guided-search {    
    margin-top: 75px;
}

.search-container{
    margin-top: 100px;
}

.alphabet{
    margin-left: auto;
    margin-right: auto;
}

.vertical-align-middle { 
    vertical-align: middle; 
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.row {
  display: flex; /* equal height of the children */
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.btn-link {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#2196f3;
  padding:0;
  text-decoration:none;
  font-family:inherit;
  font-size:inherit;
}