.msg {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#advancedsearch{
    color: #2196f3;
}

.bluenav {
	background-color: #2196f3;
	border-radius: 25px;
}

nav {
	background-color: white;
	box-shadow: none;
}

.nav-wrapper {
	background-color: #2196f3;
}

.brand-logo {
	margin-left: 40px;
}

.text-xs-center {
    text-align: center;
}

.g-recaptcha{
	display: inline-block;
}

.login-button{
	margin-top:15px;
}

.guided-search {
	margin-top: 75px;
}

.genre-search {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.genre-button {
	margin-bottom: 10px;
}

.search-container {
	margin-top: 100px;
}

.alphabet {
	margin-left: auto;
	margin-right: auto;
}

.vertical-align-middle {
	vertical-align: middle;
}

.padding-bottom-3 {
	padding-bottom: 3px;
}

.sidepic{
    margin-top: 8px;
}

.row {
	display: flex; /* equal height of the children */
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;
}

::-moz-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

.button {
	padding: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin: 0px
}

.tiny-btn {
	width: 10px;
	height: 10px;
}

.btn-link {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	color: #2196f3;
	padding: 0;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}